
# Loop through all the interfaces and create access ports
{% for intf in interfaces %}
interface {{ intf.name }}
    description {{ intf.description }}
    {% if ',' in intf.vlans %}
    {% if intf.vlans.split(',')|length > 0 %}
    switchport mode trunk
    {% for vlan in intf.vlans.split(',') %}
    switchport trunk allowed vlan {{ vlan.strip() }}
    {% endfor %}
    {% elif intf.vlans|length == 1 %}
    switchport mode access
    switchport access vlan {{ intf.vlans[0] }}
    {% endif %}
    {% else %}
    switchport mode access
    switchport access vlan {{ intf.vlans }}
    {% endif %}
    no shutdown
{% endfor %}

{# Loop through all the VLANs and create SVIs #}
{% for vlan in vlans %}
vlan {{ vlan.id }}
  name {{ vlan.name }}
interface Vlan {{ vlan.id }}
  ip address {{ vlan.ip }} {{ vlan.mask }}
  no shutdown
{% endfor %}
```